extends layout

block content
  div#field
    .cards
      - each card in cards
        div(class="card #{card.resource}")
          .color-wrapper
            .icon
            .description
            .cost=card.cost
    .cards.oposite
      - each card in cards
        div(class="card #{card.resource}")
          .color-wrapper
            .icon
            .description
            .cost=card.cost




