extends layout

block content
  div#field
    div.cards
      - each card in cards
        div(class="card #{card.resource}")
          .color-wrapper
            .icon
            .description
            .cost=card.cost


