#field {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#field .cards {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
}
#field .cards .card {
  border-radius: 16px;
  position: relative;
  font-size: 14px;
  border: 2px solid #aaa;
  box-shadow: 0 0 1px 2px rgba(0,0,0,0.15);
  height: 280px;
  width: 200px;
  display: inline-block;
}
#field .cards .card:first-child {
  transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  margin-bottom: -25px;
}
#field .cards .card:nth-child(2) {
  transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
}
#field .cards .card:nth-child(3) {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
#field .cards .card:nth-child(4) {
  transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  margin-bottom: -25px;
}
#field .cards .card:nth-child(5) {
  transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  margin-bottom: -55px;
}
#field .cards .card:hover {
  z-index: 11;
}
#field .cards .card + .card {
  margin-left: -100px;
}
#field .cards .card .icon,
#field .cards .card .cost {
  left: 4px;
  height: 32px;
  width: 32px;
  background: #fff;
  position: absolute;
}
#field .cards .card .icon {
  top: 8px;
  border-radius: 4px;
}
#field .cards .card .cost {
  bottom: 8px;
  text-align: center;
  line-height: 28px;
  font-size: 24px;
  border-radius: 32px;
}
#field .cards .card .description {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 40px;
  background: #fff;
  border-radius: 8px;
}
#field .cards .card.bricks {
  background: #c12236 url("/img/ui/noise.png") repeat;
}
#field .cards .card.bricks .icon {
  background: url("/img/icons/lorc/originals/svg/mountains.svg");
}
#field .cards .card.recruits {
  background: #ebb309 url("/img/ui/noise.png") repeat;
}
#field .cards .card.recruits .icon {
  background: url("/img/icons/lorc/originals/svg/flaming-arrow.svg");
}
#field .cards .card.gems {
  background: #2070d8 url("/img/ui/noise.png") repeat;
}
#field .cards .card.gems .icon {
  background: url("/img/icons/lorc/originals/svg/gems.svg");
}
body {
  font-family: Georgia, Times, serif;
}
